/* Normalize.css minified & inlined */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{ display:block}audio,canvas,video{ display:inline-block; *display:inline; *zoom:1}audio:not([controls]){ display:none}[hidden]{ display:none}html{ font-size:100%; overflow-y:scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}body{ margin:0}body,button,input,select,textarea{ font-family:sans-serif}a:focus{ outline:thin dotted}a:hover,a:active{ outline:0}h1{ font-size:2em}abbr[title]{ border-bottom:1px dotted}b,strong{ font-weight:bold}blockquote{ margin:1em 40px}dfn{ font-style:italic}mark{ background:#ff0; color:#000}pre,code,kbd,samp{ font-family:monospace,serif; _font-family:'courier new',monospace; font-size:1em}pre{ white-space:pre; white-space:pre-wrap; word-wrap:break-word}q{ quotes:none}q:before,q:after{ content:''; content:none}small{ font-size:75%}sub,sup{ font-size:75%; line-height:0; position:relative; vertical-align:baseline}sup{ top:-0.5em}sub{ bottom:-0.25em}ul,ol{ margin-left:0; padding:0 0 0 40px}dd{ margin:0 0 0 40px}nav ul,nav ol{ list-style:none; list-style-image:none}img{ border:0; -ms-interpolation-mode:bicubic}svg:not(:root){ overflow:hidden}figure{ margin:0}form{ margin:0}fieldset{ border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em}legend{ border:0; *margin-left:-7px}button,input,select,textarea{ font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle}button,input{ line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{ cursor:pointer; -webkit-appearance:button; *overflow:visible}input[type="checkbox"],input[type="radio"]{ box-sizing:border-box; padding:0}input[type="search"]{ -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box}input[type="search"]::-webkit-search-decoration{ -webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{ border:0; padding:0}textarea{ overflow:auto; vertical-align:top}table{ border-collapse:collapse; border-spacing:0}

/* 960.gs 12 column minified & inlined */
body{ min-width:720px}.container_12{margin-left:auto;margin-right:auto;width:720px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12{position:relative}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:40px}.container_12 .grid_2{width:100px}.container_12 .grid_3{width:160px}.container_12 .grid_4{width:220px}.container_12 .grid_5{width:280px}.container_12 .grid_6{width:340px}.container_12 .grid_7{width:400px}.container_12 .grid_8{width:460px}.container_12 .grid_9{width:520px}.container_12 .grid_10{width:580px}.container_12 .grid_11{width:640px}.container_12 .grid_12{width:700px}.container_12 .prefix_1{padding-left:60px}.container_12 .prefix_2{padding-left:120px}.container_12 .prefix_3{padding-left:180px}.container_12 .prefix_4{padding-left:240px}.container_12 .prefix_5{padding-left:300px}.container_12 .prefix_6{padding-left:360px}.container_12 .prefix_7{padding-left:420px}.container_12 .prefix_8{padding-left:480px}.container_12 .prefix_9{padding-left:540px}.container_12 .prefix_10{padding-left:600px}.container_12 .prefix_11{padding-left:660px}.container_12 .suffix_1{padding-right:60px}.container_12 .suffix_2{padding-right:120px}.container_12 .suffix_3{padding-right:180px}.container_12 .suffix_4{padding-right:240px}.container_12 .suffix_5{padding-right:300px}.container_12 .suffix_6{padding-right:360px}.container_12 .suffix_7{padding-right:420px}.container_12 .suffix_8{padding-right:480px}.container_12 .suffix_9{padding-right:540px}.container_12 .suffix_10{padding-right:600px}.container_12 .suffix_11{padding-right:660px}.container_12 .push_1{left:60px}.container_12 .push_2{left:120px}.container_12 .push_3{left:180px}.container_12 .push_4{left:240px}.container_12 .push_5{left:300px}.container_12 .push_6{left:360px}.container_12 .push_7{left:420px}.container_12 .push_8{left:480px}.container_12 .push_9{left:540px}.container_12 .push_10{left:600px}.container_12 .push_11{left:660px}.container_12 .pull_1{left:-60px}.container_12 .pull_2{left:-120px}.container_12 .pull_3{left:-180px}.container_12 .pull_4{left:-240px}.container_12 .pull_5{left:-300px}.container_12 .pull_6{left:-360px}.container_12 .pull_7{left:-420px}.container_12 .pull_8{left:-480px}.container_12 .pull_9{left:-540px}.container_12 .pull_10{left:-600px}.container_12 .pull_11{left:-660px}.clear{ clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0}.clearfix:before,.clearfix:after{ content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0}.clearfix:after{ clear:both}.clearfix{ zoom:1}


#top {
  background: url("img/bg.png");
  margin-top: 100px;
}

#showcase {  z-index: 10 }

#intro {
  z-index: 0;
  padding-top: 60px;
}

#intro p {
  color: rgba(0,0,0,0.6);
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  font: bold 22px/35px Arial, sans-serif;
  text-align: justify;
}

#intro p a {
	color: #0041C4;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted #0041C4;
}

#intro h1 {
  position: relative;
  font-size: 40px;
  background-color: #87aa22;
  color: #fff;
  padding: 5px 10px 5px 60px;
  left: -60px;
  width: 390px;
  margin-bottom: .4em;
}

#bottom {
  border-top: 1px solid #e6e6e6;
  margin: -130px 0 0 0;
  width: 100%;

  background-color: #fff;
}

#bottom div {  margin-bottom: 1.67em }

h2 {
  margin-top: 0;
  background-color: #F8B040;
  color: #fff;
  padding: 5px 10px;
  display: inline;
  display: inline-block;
}

#bottom p,
li {
  font: 16px/1.67em Arial, sans-serif;
  color: #333;
  opacity: 0.8;
  text-align: justify;
}

#bottom a {
  color: #0041C4;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #0041C4;
}

.grid_5 img {
  display: block;
  margin: 0 auto;
}
